/* 

@media screen and (min-width: 400px) {
    .background {
        padding: 0;
        margin: 0;
        background-image: url("../src/Images/HeroPhoto.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
} */